<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.themeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{user/layout/userLayout}">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
<script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
<script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<title>顧客管理画面一覧</title>
<!--link rel="stylesheet" th:href="@{/css/adminHome.css}"-->
</head>
<body>
<div layout:fragment="content">
<div class="row">
		<form method="get" th:action="@{/list}" class="float-right" th:object="${searchForm}">
			<input type="text" name="searchWord" th:field="*{searchWord}" class="list-form">
			<input type="submit" value="検索" class="list-form">
		</form>
		<div class="col-xl-12 table-responsive-xl">
			<table class="table table-striped text-nowrap">
				<thead>
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th>メールアドレス</th>
					</tr>
				</thead>
					<tr th:each="item : ${users}">
						<td th:text="${item.id}" class="align-middle"></td>
						<td th:text="${item.name}" class="align-middle"></td>
						<td th:text="${item.email}" class="align-middle"></td>
					</tr>
			</table>
		</div>
	</div>
</div>
</body>
</html>